/* =============
    Cards
============= */
#cards {
    >div {
        article {

            @include md {
                display: grid;
                grid-template-columns: 50% auto;
            }

            #card-1 {
                
                >div {
                    display: flex;
                    color: var(--white);
                    background-color: var(--horus-green);
                    padding: 16px;
                    margin: 16px 0px;
                    align-items: center;

                    @include md {
                        padding: 24px;
                        margin: 16px 8px 16px 0px;
                        font-size: rem-calc(31);
                        font-weight: 400;
                    }

                    @include xxl {
                        display: grid;
                        grid-template-columns: 560px auto;
                    }
                }

            }

            #card-2 {
                >div {
                    display: flex;
                    color: var(--white);
                    background-color: var(--horus-green);
                    padding: 16px;
                    margin: 16px 0px;
                    align-items: center;

                    @include md {
                        padding: 24px;
                        margin: 16px 0px 16px 8px;
                        font-size: rem-calc(31);
                        font-weight: 400;
                    }

                    @include xxl {
                        display: grid;
                        grid-template-columns: 560px auto;
                    }
                }
            }

            .circle-img{
                margin-left: auto;
            }

        }
    }
}