/* =============
    Hero
============= */
#hero{
        >div{
        article{
            
            @include md{
                display: grid;
                grid-template-columns: 50% auto;
            }

            #hero-img-title{
                button{
                    background-color: var(--sanguine-blood);
                    color: var(--white);
                    border: none;

                }
                color: var(--white);
                background-color: var(--sanguine-blood);
                padding: 16px;

                @include xxl{
                    display: grid;
                    grid-template-columns: auto 720px 16px;
                }
            }

            #hero-img-ex{
                button{
                    background-color: var(--sanguine-gold);
                    color: var(--horus-green);
                    border: none;

                }
                color: var(--horus-green);
                background-color: var(--sanguine-gold);
                padding: 16px;

                @include xxl{
                    display: grid;
                    grid-template-columns: 16px 720px auto;
                }
            }

            }
        }
}

#hero-img{
        width: 100vw;
        height: 50vh;
        background-image: url('../img/hero1/HvE.jpg');
        background-size: cover;
        background-position: center 30%;
}