/* =============
    Hero
============= */
#hero{
        >div{
        article{
            
            @include md{
                display: grid;
                grid-template-columns: 50% auto;
            }
            
            #hero-img-title{
               
                button{
                    background-color: transparent;
                    color: var(--white);
                    border: none;
                    margin-left: auto;
                    align-items: center;
                    @include lg{
                        display: flex;

                
                    }
                    img{
                        @include md{
                            margin-left: 8px;
                        }
                    }
                }

                color: var(--white);
                background-color: var(--sanguine-blood);
                padding: 16px;

                @include xxl{
                            
                }
                @include xxl{
                    
                }
            }
            .hero-left{
                
                    display:flex;
                    align-items: center;
                        
                        

                    }
                



            #hero-img-ex{
                button{
                    background-color: var(--sanguine-gold);
                    color: var(--horus-green);
                    border: none;
                    margin-left: auto;
                    align-items: center;
                    @include lg{
                        display: flex;
                    }

                    img{
                        @include md{
                            margin-left: 8px;
                        }
                    }

                }
                color: var(--horus-green);
                background-color: var(--sanguine-gold);
                padding: 16px;

                @include xxl{
                    
                }
            }
            .hero-right{
                
                    display:flex;
                    align-items: center;  
                    @include xxl{

                    }  
                        

                    }

            }
        }
}

#hero-img{
        width: 100vw;
        height: 50vh;
        background-image: url('../img/hero1/HvE.jpg');
        background-size: cover;
        background-position: center 30%;
}