/* =============
    Hero-2
============= */
#hero-2 {

    margin: 16px 0px;
  
    width: 50vw;
    height: 50vh;
    background-image: url('../img/hero2/SvK.jpg');
    background-size: cover;
    background-position: center;
   

}