/* =============
    Hero
============= */
#hero{
    img{
        width: 100%;
    }
        >div{
        ul{
            li{
                display: grid;
                grid-template-columns: auto 20% 10%;
            }
            }
        }
}