/* =============
    WH-timeline
============= */
#WH-timeline {
    img {
        width: 100%;
        
    }

    h1{
        margin: 16px 0px 0px;
    }

    article{
        margin: 16px 0px;

        @include md{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". age .";
            margin: 16px 0px 48px;
        }
 
        @include xxl{
            grid-template-columns: auto 1440px auto;
        }

        ul {
            li{
                aside{
                    height: 220px;
                    background-size: cover;
                    background-position: center;
                }
            }
            display: grid;
            gap: 16px;
            grid-template-rows: repeat(5, auto);
    
            @include md {
                grid-area: age;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas:
                    "t1 t1 t2 t2"
                    "t3 t3 t4 t4"
                    ". t5 t5 .";
            }
            
            @include lg{
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas:
                    "t1 t1 t2 t2 t3 t3"
                    ". t4 t4 t5 t5 .";
            }


            #t1{
                background-color: var(--sanguine-gold);
                section{
                    padding: 16px;
                }
                @include md{
                    grid-area: t1;
                }
                aside{
                    background-image: url('../img/timeline/AOS.jpg');
                }
            }
    
    
            #t2{
                background-color: var(--sanguine-gold);
                section{
                    padding: 16px;
                }

                @include md{
                    grid-area: t2;
                }
                aside{
                    background-image: url('../img/timeline/UW.jpg');
                }
            }
    
            #t3{
                background-color: var(--sanguine-gold);
                section{
                    padding: 16px;
                }
                @include md{
                    grid-area: t3;
                }
                aside{
                    background-image: url('../img/timeline/GC.jpg');
                }
            }
    
            #t4{
                background-color: var(--sanguine-gold);
                section{
                    padding: 16px;
                }
                @include md{
                    grid-area: t4;
                }
                aside{
                    background-image: url('../img/timeline/HH.jpg');
                }
            }
    
            #t5{
                background-color: var(--sanguine-gold);
                section{
                    padding: 16px;
                }
                @include md{
                    grid-area: t5;
                }
                aside{
                    background-image: url('../img/timeline/40k.jpg');
                }
            }
    }
   




        li {}
    }
}

#sub-header{
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". sub-header .";

    div{
        grid-area: sub-header;
    }
}