/* =============
    Header
============= */

header{
     background-color: var(--black);
     @include xxl{
         grid-template-columns: 16px auto 16px !important;
     }

    div{
        section{
            img{
                width: 111px;

                @include md{
                    width: 127px;
                }

                @include md{
                    width: 149px;
                }
            }
        }
    }
}