/* =============
    Buttons
============= */
button{
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.red-button{
    background-color: var(--sanguine-blood);
    border: none;
    color: var(--white);
    padding: 6px 14px;
    cursor: pointer;
    transition: 0.25s;

    &:hover{
        background-color: var(--sanguine-gold);
    }
}